@import "cmxformTemplate.css";
@import "cmxform.css";

body {
  color: black;
  background: #edfdfb;
  text-align:center;
}

div#Titulo {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif; 
  color: #364D6D;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center; 
}

#Titulo h1 {
  margin: 0;
  color: #364D6D;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center; 
  background-color: #BBE3BA;
  border-collapse: collapse; 
}


#Titulo h2 {
  margin: 0;
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  font-weight: bold;
  color: #364D6D;
  font-size: 0.8em;
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 0%;
  padding-top: 0%;
  text-align: center;
  line-height: 2em;
  table-layout: automatic;
  background-color: #C3CCF2;
 }

#rojo {
  margin: 0;
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  font-weight: bold;
  color: #FE0000;
  font-size: 2em;
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 0%;
  padding-top: 0%;
  text-align: center;
  line-height: 175%;
  table-layout: automatic;
  background-color: #FE0000;
 }

#ama {
  margin: 0;
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 3em;
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 0%;
  padding-top: 0%;
  text-align: center;
  line-height: 175%;
  table-layout: automatic;
  background-color: #FFFF00;
 }
a:link, a:visited {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

#Titulo2 {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  border-bottom: 1px solid black;
  margin-left: 0%;
  margin-right: 0%;
  width:100%;
  color: black;
  line-height: 2em;
  background: #D4EEF4;  
  font-weight: normal;
  margin:5px auto; 

}

#Titulo2 h1 {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  margin-left: 0%;
  color: black;
  text-align: left;
  background: #D4EEF4;  
  font-size: 1.75em;
  font-weight: normal;
  padding:0; 
}

#Titulo2 h2 {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  margin-left: 0%;
  color: black;
  text-align: right;
  background: #D4EEF4;  
  font-size: 1em;
  font-weight: normal;
  margin:0; 
  padding:0;
  vertical-align:top;
  right:1%;
  vertical-align:text-bottom;
}

#contenedor0 {
	width:100%; 
	margin:0; 
	text-align:center;
        background: #F7FFFF;  

}

#contenedor {
	width:975px; 
        text-align: left;
        margin-left:70px auto;
        margin-right:70px auto;
	margin:5px auto; 
        margin-top:70px;
        margin-bottom: 70px;
        background: #F7FFFF;  

       border-collapse: collapse; 
}


#topleft {
  height: 50px;
  width: 50px;
  background-image: url("izdaarriba.png");
  background-repeat: no-repeat;
  background-position: bottom right;

}

#top {
  height: 50px;
  background-image: url("arriba.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

#topright {
  height: 50px;
  width: 50px;
  background-image: url("dchaarriba.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

#left {
  width: 50px;
  background-image: url("izda.png");
  background-repeat: repeat-y;
  background-position: right;
}

#center {
  background-color: #ffffff;
  width: 900px;
}

#right {
  width: 50px;
  background-image: url("dcha.png");
  background-repeat: repeat-y;
  background-position: left;

}

#bottomleft {
  height: 50px;
  width: 50px;
  background-image: url("izdaabajo.png");
  background-repeat: no-repeat;
  background-position: top right;

}

#bottom {
  height: 50px;
  background-image: url("abajo.png");
  background-repeat: repeat-x;
  background-position: top;

}

#bottomright {
  height: 50px;
  width: 50px;
  background-image: url("dchaabajo.png");
  background-repeat: no-repeat;
  background-position: top left;
}




#cuerpo{
  margin:0px;
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  line-height: 2em;
  color: black;
  background: white; 
} 


#cuerpo2{
  margin:0px;
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  line-height: 1em;
  color: black;
  background: white; 
}

#cuerpo pre {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  color: black;
  background: white;
  font-size: 1em;
  font-weight: normal;
white-space: pre; /* CSS2 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-word; /* IE */
}

#cuerpo2 pre {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  color: black;
  background: white;
  font-size: 1em;
  font-weight: normal;
white-space: pre; /* CSS2 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-word; /* IE */
}


pre{
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  color: black;
  background: white; 
  margin-left: 0%;
  font-size: 1em;
  font-weight: normal;
white-space: pre; /* CSS2 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-word; /* IE */
}

table      { 
               font-family: Helvetica, Geneva, Arial,
                     SunSans-Regular, sans-serif;
               background: white;
               line-height: 1em;
               margin-left: 0%;
               border-spacing: 5pt 
              width: 850px;
              table-layout: fixed;
white-space: pre; /* CSS2 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-word; /* IE */

}



#table2      { 
               font-family: Helvetica, Geneva, Arial,
                     SunSans-Regular, sans-serif;
               background: white;
               line-height: 1em;
               margin-left: 0px;
               border-spacing: 5pt 
              width: 850px;
              table-layout: fixed;
}

#pie {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  color: black;
  background: #edfdfb;  
  font-size: 1em;
  font-weight: normal;
  text-align: center; 
}

#pie pre{
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  color: black;
  background: #edfdfb;  
  font-size: 1em;
  font-weight: normal;
  text-align: center; 
  width: 100%;
}



#pie2 {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  color: black;
  background: #edfdfb;  
  font-size: 1em;
  font-weight: normal;
  border-top: 1px solid black;
  text-align: center; 
}

#topnav {
	padding:10px 0px 12px;
	font-size:16px;
	line-height:23px;
	text-align:right;
}
#topnav a.signin {
	background:#88bbd4;
	padding:4px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
        	border:1px;

	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*padding:4px 12px 6px;
}
#topnav a.signin:hover {
	background:#59B;
	*padding:4px 12px 6px;
}
#topnav2 {
	padding:10px 0px 12px;
	font-size:16px;
	line-height:23px;
	text-align:left;
}
#topnav2 a.signin {
	background:#88bbd4;
	padding:4px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
        	border:1px;

	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*padding:4px 12px 6px;
}
#topnav2 a.signin:hover {
	background:#59B;
	*padding:4px 12px 6px;
}
#topnav2 a.signin, #topnav a.signin:hover {
	*background-position:0 3px!important;
}

#bloque{
   text-align: center;
   margin-top: 175px;
      margin-bottom: 125px;

}

#mainBox {
         -moz-box-shadow: 1px 1px 35px #000;
         -webkit-box-shadow: 1px 1px 35px #000;
          box-shadow: 1px 1px 35px #000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif; 
	background: white;
        width: 960px;
	padding: 8px;
        text-align: left;
        margin:0 auto;	
	border: 1px solid black;
}
#t1 {
background: #b75f5f;
text-align: center;
color: white;

}
